@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}


/* Fancy scroll bar stuff*/
::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #2d2d2d; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #575757; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
