@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #2d2d2d; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #575757; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
